@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre {
  position: relative;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 1rem;
  color: aliceblue;
  background: rgb(30, 30, 30);
}

table {
  border-collapse: collapse;
}

tr {
  text-align: center;
  border-bottom: solid 1px black;
}

td {
  text-align: center;
  border: solid 1px black;
}
