@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  overflow: auto;
  position: relative;
  padding: 1.75rem 0 1.75rem 1rem;
  background-color: #f7fafc;
}

pre button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: #999 solid 1px;
  border-radius: 0.25rem;
  padding: 0 5px;
  font-size: 0.5rem;
}
